@font-face{
font-family: 'BebasNeueRegular';
src: url('fonts/BebasNeueRegular.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
body, html { 
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
}
section#main {
    height: 100vh;
    background-color: black;
}
.left{
	background-color: #FFF;
	padding: 11vh 0;
}
img{
	width:30px;
}
.navigation{
	margin:5px;
	position: fixed;
	left: 5%;
    top: 41px;
    z-index: 1;
    display: flex;
    align-items: center;
}
.left{
	padding: 11vh 0;
}
.right{
	background-color:black;
	color:white;
	height: 78vh;
	margin-top: 11vh;
	margin-bottom: : 11vh;
	position: relative;
}
.right .row .text{
	font-size:80px;
	margin-bottom: .5rem; 
    font-weight: 500;
    line-height: 1.2;
	text-transform:uppercase;
}
.katadzeLogo img{
	width:100%;
	margin:0px;
	height: auto;
	padding: 0 39px;
}
.katadzeLogo{
	width:300px;
}
#main h1 {
    text-transform: uppercase;
    font-size: 7vw;
    font-weight: bold;
    font-family: 'BebasNeueRegular', sans-serif;
    letter-spacing: 11px;
}
#main h3{
	font-size: 24px;
	font-weight: 900;
}
#next{
    right: 0;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%) translateX(-100%);
}
#back{
    left: 0;
    top: 50%;
    z-index: 1;
    transform:translateY(-50%) translateX(100%);
}
#portfolio{
	bottom: 0;
	right: 0;
}
#contacts{
	right: 0;
	top: 0;
}
#Down{
	bottom: 0;
    left: 0;
}
#Down img{
	margin-left: 14px;
}
.contentWrapperMain {
    padding: 0 30px;
}
svg{
	width: 35px;
	margin-right: 14px;
}
.contentWrapper{
	padding: 53px 206px;
}
.navButtons{
	height: 100vh;
	right: 0px;
	position: sticky;
	top: 0px;
	z-index: 101;
	padding-right: 0px;
}
.closes{
	background-color: black;
	height: 50%;
	cursor: pointer;
	color: white;
	text-align: center;
}
.next{
	background-color: #68C4E7;
	height: 30%;
	cursor: pointer;
	color: white;
}
#content h1{
    text-transform: uppercase;
    font-size: 6vw;
    font-weight: bold;
    font-family: 'BebasNeueRegular', sans-serif;
    letter-spacing: 10px;
    line-height: 141px;
    color: #343434;
}
#content h2{
	text-transform: uppercase;
   	font-size: 2vw;
	font-weight: bold;
	line-height: 34px;
	text-align: left;
	font-family: 'BebasNeueRegular', sans-serif;
}
#content h3{
	color: #5B5B5B; 
}
#content h4{
	color: #68C4E7;
	font-size: 1.5vw;
	font-weight: bold;
}
#content p{
	text-align: left;
	font-weight: lighter;
	padding-top: 24px;
    padding-bottom: 70px;
    font-size: 1.3vw;
}
.textNav{
	position: absolute;
}
.closes .textNav{
	top: 80%;
	left: 50%;
	transform: translateX(-50%);
}
.next .textNav{
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.closes, .next{
	position: relative;
}
.contactButton{
	border: 1px solid #5B5B5B;
	text-transform: uppercase;
	text-align: center;
	padding: 8px;
	font-size: 1vw;
	border-radius: 2px;
}
@media screen and (max-width: 1199px) {
.contentWrapper{
	padding: 24px 34px;
}
#content h1{
    font-size: 8vw;
    letter-spacing: 10px;
    line-height: 66px;
}
#content p {
    padding-top: 22px;
    padding-bottom: 13px;
}
.closes{
	background-color: black;
	height: 50%;
	cursor: pointer;
	color: white;
	text-align: center;
}
.next{
	background-color: #68C4E7;
	height: 50%;
	cursor: pointer;
	color: white;
}
.navButtons{
	height: 200px;
}
#content h4 {
    font-size: 3.5vw;
}
#content p{
	font-size: 3vw;
}
#content h2{
	font-size: 5vw;
	line-height: 48px;
}
.contactButton{
	font-size: 2vw;
}
.navigation{
		color: #FFF;
	}
.closes .textNav{
	top: 50%;
	transform: translateX(-50%) translateY(-50%)
}
}
